*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
.navbar{
    display: flex;
    position:fixed;
    height: 80px;
    width: 100%;
    margin: auto;
    padding: 10px;
    justify-content: space-between;
    background-color: rgb(6,13,60);
    color: white;
    border-bottom: 1px solid white;
}
.navbar > .logo {
background-color: rgb(3, 32, 32);
width: 6%;
border: 3px solid white;
padding: 10px;
margin-left: 60px;
border-radius: 50px;
height: 60px;
}
.navbar > .logo h2{
    background-color: rgb(3, 32, 32);
    color: white;
    margin-left: 5px;
    margin-top: 4px;
}

.navbar > .Nav-right {
    width: 40%;
    display: flex;
    padding: 20px;
    justify-content: space-around;
    background-color: rgb(6,13,60);
}
.navbar > .Nav-right h4{
    background-color: rgb(6,13,60);
}

.home{
    width: 100%;
    height: 100vh;
    background-color: rgb(6,13,60);
    border: 2px solid red;
    display: flex;
}
.home > .profile{
    width: 30%;
    background-color: rgb(6,13,60);
    border: 2px solid white;
    justify-content: center;
    margin-left: 150px;
}
.home > .profile img{
    margin-top: 150px;
    height: 400px;
    width: 300px;
    margin-left: 50px;
    border-radius: 30px;
}
.home .desc {
    width: 50%;
    height: 40vh;
    margin-top: 200px;
    background-color: rgb(6,13,60);
    margin-left: 70px;
    border:2px solid white;
    color: white;
}
.home .desc h2{
    background-color: rgb(6,13,60);
    font-size: 50px;
}
.home .desc p{
    background-color: rgb(6,13,60);
    font-size: 25px;
}

.about{
    width: 100%;
    height: 88vh;
    background-color: rgb(6,13,60);
    text-align: center;
    padding: 100px;
    color: white;
}
.about > h2{
    background-color: rgb(6,13,60);
    font-size: 50px;
}
.about h3{
    background-color: rgb(6,13,60);
    margin-top: 20px;
    font-size: 40px;
}
.about h4{
    background-color: rgb(6,13,60);
    margin-top: 20px;
    font-size: 30px;
}

.skills{
    text-align: center;
    background-color: rgb(6,13,60);
    width: 100%;
    height: 89vh;
    color: white;
    padding: 30px 100px;
    border: 2px solid white;
}
.skills h2{
    font-size: 50px;
}
.skills-set{
    display: grid;
    grid-template-columns:400px 400px 400px;
    gap: 10px;
    border: 2px solid white;
    justify-content: center;
}
.skills-set div img{
   width: 150px;
   height: 150px;
}

.projects{
    width: 100%;
    padding: 20px 100px;
    background-color: rgb(6,13,60);
    color: white;
}
.projects h2{
    font-size: 50px;
    margin-left: 45%;
}
.first{
    display: flex;
    margin-top: 30px;
    border: 2px solid white;
    justify-content: space-between;
    padding: 20px;
    background-color: gray;
    color: black;
    border-radius: 30px;
}
.first .first-image .github_ppt {
    width: 400px;
    height: 250px;
}

.live{
    display: flex;
    margin-top: 20px;
    width: 15%;
    justify-content: space-between;
    text-align: center;
    margin-left: 20px;
    border: 2px solid gray;
    
}
.live p{
    margin-top: 10px;
    font-weight: bold;
  
}
.live a .github_logo{
    width: 40px;
    height: 30px;
    border-radius: 100px;
}

.contact{
    width: 100%;
    text-align: center;
    height: 60vh;
    background-color: rgb(6,13,60);
    padding: 100px;
    color: white;
}
.contact h2{
    font-size: 50px;
}
.contact h3{
    margin-top: 10px;
    font-size: 20px;
}
.contact h4{
    font-size: 20px;
    margin-top: 10px;
}
.contact p{
    margin-top: 10px;
    font-size: 20px;
    
}
